/lab/Compare_Objects_Arrays_Functions_CPP_PHP_Javascript/CPPCards/CPPCards_V1/build/
/lab/Compare_Objects_Arrays_Functions_CPP_PHP_Javascript/CPPCards/CPPCards_V1/dist/
/lab/Compare_Objects_Arrays_Functions_CPP_PHP_Javascript/CPPCards/CPPCards_V2/build/
/lab/Compare_Objects_Arrays_Functions_CPP_PHP_Javascript/CPPCards/CPPCards_V2/dist/
/php_cpp_js-template/nbproject/private/
/assignment/assn2-review_classes/js_php_cpp-create-classes/nbproject/private/
/assignment/assn2-review_classes/classes_savings_java/nbproject/private/
/assignment/assn2-review_classes/classes-savings-jscript/nbproject/private/
/lab/Compare_Get__Functions_Arrays/CPPEquivalent/SavingsFunctionsInCPP/dist/
/lab/Compare_Get__Functions_Arrays/CPPEquivalent/SavingsFunctionsInCPP/build/
/assignment/assn2-review_classes/classes-savings-cpp/build/
/assignment/assn2-review_classes/classes-savings-cpp/dist/
/assignment/assn2-review_classes/classes-savings-php/nbproject/private/
/assignment/assn2-review_classes/classes-savings-javascript/nbproject/private/
/lab/BattleshipV2/nbproject/private/
/projs/matching_clone_java/nbproject/private/
/assignment/battleship_mod/BattleShipV2/nbproject/private/
/assignment/battleship_mod/HTML5Application/nbproject/private/
/assignment/assn3/HTML5Application/nbproject/private/
/assignment/assn3/assn3_inventory_class/nbproject/private/